
table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  margin-block: 20px;
  color: rgba(92,0,32,255);
  height: auto;
}
th {
  border: 0.5px solid black;
  text-align: left;
  padding: 8px;
  font-size: large;
}
td {
  border: 0.5px solid black;
  text-align: left;
  padding: 8px;
}
input {
  border-collapse: collapse;
  font-size: medium;
  padding: 2px;
  width: 100%;
  border: 0;
}
/* Set the width of the columns */
td:nth-child(1),
th:nth-child(1) {
  width: 5%;
}

td:nth-child(2),
th:nth-child(2) {
  width: 20%;
}

td:nth-child(3),
th:nth-child(3) {
  width: 10%;
}
td:nth-child(4),
th:nth-child(4) {
  width: 10%;
}
td:nth-child(5),
th:nth-child(5) {
  width: 10%;
}


.table-header-space{
  background-color: rgba(92,0,32,255);
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.table-tab{
  margin-top: 20px;
  background-color: whitesmoke;
}

.table-tab-header{
  color: white;
  padding: 10px;
  cursor: pointer;
}