@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css);

.check{
    display: flex;
    padding: 1.5em;
  }
  .Cart1, .Cart2 {
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Cart1{
    flex-basis: 70.33%;
  }

  .Cart2{
    flex-basis: 20.33%;
    height: 350px;
  }

  .Cart-title {
    border-bottom: 2px solid rgba(92,0,32,255);
    font-weight: 200;
    color: rgba(92,0,32,255);
  }
  .Cart-total {
    text-align: center;
  }

  .price{
    padding: 1rem;
    font-size: 22px;
  }

  .items-count{
    padding: 1rem;
    font-size: 18px;
  }

  .CartItem {
    display: flex;
    align-items: center;
    margin-top: 3em;
    font-size: 1.3rem;
  }

  .CartItem div {
    width: 25%;
  }

  .change-quantity {
    margin: 0 0.5em;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(249, 187, 18);
    transition: all 0.3s ease;
    outline: none;
  }

  .change-quantity:hover {
    background-color: rgba(92,0,32,255);
  }

  .change-quantity:disabled {
    background-color: silver;
  }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* set initial opacity to 0 */
  animation: fade-in 0.5s forwards; /* add fade-in animation */
}

  /* define fade-in animation */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.popup-content h2 {
  margin-top: 0;
  align-items: center;
}

.popup-content loginB {
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

.popup-content p {
  margin-bottom: 0;
}

.popup-content {
  background-color: rgba(92,0,32,255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carttext{
  color: rgba(92,0,32,255);
}

/* If there are more than 3 buttons, wrap them to two rows */
.popup-content > *:nth-child(n+4) {
  margin-top: 10px;
}
.popup-content > *:nth-child(n+4):nth-last-child(-n+2) {
  margin-top: 0;
}

/* If there are more than 3 buttons, wrap them to two rows */
/* @media (min-width: 768px) {
  .popup-content {
    flex-wrap: wrap;
  }
  .popup-content > *:nth-child(n+4) {
    margin-top: 10px;
    margin-right: 10px;
  }
  .popup-content > *:nth-child(n+4):nth-last-child(-n+2) {
    margin-top: 0;
  } */
/* } */

.ci__info {
  padding: 20px 30px 30px;
  background-color: #fff;
  height: 100%;
}

.popup-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(92,0,32,255);
  z-index: -1;
  border-radius: 5px;
  margin: -10px;
}

.cart-empty-text{
  margin-bottom: 0;
  color: #333;
  font-size: 16px;
}


.cart-empty {
  padding-top: 1em;
  font-size: 45px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
}

.delete{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #fde6e7;
  color: rgba(92,0,32,255);
  font-size: 15px;
  transition: 0.3s;
}

.delete:hover {
  background-color: rgba(92,0,32,255);
  color: #fff;
}

.item-name{
  display: flex;
  flex-direction: column;
}

.CartItemMods div {
  text-align: center;
  font-size: 16px;
  display: flex;
  width: 300px;
  padding-left: 20px;
  }