/* body {
    background: maroon;
  } */
  .Cart {
    width: 750px;
    background: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .Cart-title {
    border-bottom: 2px solid rgba(92,0,32,255);
    font-weight: 200;
    color: rgba(92,0,32,255);
  }
  .Cart-total {
    text-align: center;
  }
  
  .CartItem {
    display: flex;
    align-items: center;
    margin-top: 3em;
    font-size: 1.3rem;
  }
  
  .CartItem div {
    width: 25%;
  }
  
  .CartItem button {
    margin: 0 0.5em;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(249, 187, 18);
    transition: all 0.3s ease;
    outline: none;
  }
  
  .CartItem button:hover {
    background-color: rgba(92,0,32,255);
  }
  
  .CartItem button:disabled {
    background-color: silver;
  }
  
